.App {
  text-align: center;
  color: #191970;
}


.App-header {
  background-color: rgb(2, 38, 21);
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #DAA502;
}

.App-link {
  color: #191970;
}




